<ion-list>
  <ion-item>
    <ion-button id="viewBtn" shape="round" expand="block" (click)="download(fname)">View</ion-button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-button id="downloadBtn" shape="round" expand="block" (click)="download(fname)">Download</ion-button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-button id="deleteBtn" shape="round" expand="block" (click)="deletefile(fname)">Delete</ion-button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-button id="closeBtn" shape="round" expand="block" (click)="close()">Close</ion-button>
  </ion-item>
</ion-list>
